@import '../../index';

.Details {
  min-width: 80%;
  height: 800px;
  background:rgba(238, 240, 242, 0.9);
  position: absolute;
  overflow: scroll;
  z-index: 100;
  top:0;
  left: 0;
  transform: translateX(12.5%);
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.12), 0px 4px 5px 0px rgba(0, 0, 0, 0.12), 0px 1px 10px 0px rgba(0, 0, 0, 0.2);
  padding: .5rem;
  border-radius: 2px;
  overflow-x: visible;
  overflow-y: scroll;

  img {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }

  .DetailsSecondary {
    max-width: 75%;
    height: auto;
    margin: 0 auto;
    padding-top: 1rem;

    h2 {
      font-weight: 600;
      font-size: 1.25rem;
      color: $secondary-color;
      margin-bottom: 1rem;
    }

    h3 {
      text-transform: uppercase;
      font-size: .85rem;
      color: #1C1C1C;
    }

    .DailyIntake {
      text-align: center;
      max-width: 70%;
      margin: 0 auto;
      padding-bottom: .5rem;
      color: black;

      .DailyIntakeHeader {
        width: 100%;
        display: flex;
        justify-content: space-between;

        h3 {
          color: $accent-four !important;
        }
      }

      #Padding {
        padding-bottom: 2rem;
      }
    }

    .DetailsGoal {
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding-top: 1rem;


      .GoalIntake {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .DetailsComparison {
    text-align: center;
    padding-top: 1rem;
  }

  .DetailsSummary {
    max-width: 40%;
    margin: 0 auto;
    padding: 1rem 0 1rem 0;

    h2 {
      text-align: center;
    }

    .DetailsGrid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;

      h5 {
        font-size: .9rem;
        font-weight: lighter;
        color: #1C1C1C;
      }

      h6 {
        text-align: right;
        font-size: .85rem;
        font-weight: lighter;
        color: #1C1C1C;
      }

      #Bold {
        color: $primary-color;
        font-weight: 500;
      }

      .Margin {
        margin-bottom: .5rem;
      }
    }
  }
}

@media screen and (max-width: 760px) {
  .Details {
    min-width: 100%;
    transform: translateX(0%);
  }
}
