@import '../../index';

.Details {
  width: 100%;
  min-height: 100vh;
  background: $secondary-color;
  padding: 1rem;

  .DetailsHeader {
    width: 100%;
    height: 10vh;
    background: $secondary-color;
  }

  .DetailsSecondary {
    width: 70%;
    height: 100%;
    margin: 0 auto;
  }
}
