@import '../../index';

.FoodProfile {
  width: 100%;
  height: auto;
  background: $accent-three;

  .FoodProfileHeader {
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    height: 40vh;
    color: white;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    border-bottom-right-radius: 500px;

    h1 {
      text-transform: uppercase;
      font-weight: 300;
      font-size: 3rem;
      color: white;
    }
    
    h2 {
      font-size: 1.25rem;
      font-weight: 300;
      color: white;
    }
  }

  .FoodProfileSecondary {
    max-width: 70%;
    height: 100%;
    margin: 0 auto;
    padding: 5rem 0 5rem 0;
    display: grid;
    grid-template-columns: .60fr .40fr;

    .FoodProfileMain {
      background: $secondary-color;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: white;
      border-radius: 50%;
      width: 400px;
      height: 400px;

      h1 {
        text-transform: uppercase;
        font-weight: 300;
        font-size: 2.25rem;
        color: white;
        text-align: center;
        max-width: 80%;
      }
      h2 {
        font-size: 1.2rem;
        font-weight: 300;
        color: white;
      }
    }

    .FoodProfileDetails {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: left;
      flex-direction: column;

      h3 {
        margin-bottom: .5rem;
        text-transform: uppercase;
        font-size: 1.25rem;
        font-weight: 300;
        border-bottom: 1px solid $accent-one;
        color: $accent-one;
      }

      .FoodProfileAlign {

        button {
          width: 100%;
          height: 40px;
          background: $accent-one;
          margin: 0 auto;
          align-self: center;
          margin-top: 1rem;
          color: white;
          text-transform: uppercase;
          border-radius: 30px;
        }

        .FoodProfileServing {
          margin-top: 1rem;
          display: flex;
          justify-content: space-evenly;
          align-items: center;

          input {
            width: 50px;
            height: 40px;
            border-radius: 5px;
            border: 1px solid #ccc;
            color: gray;
            font-weight: 300;
            text-align: center;
          }
        }
      }
    }
  }
}
