@import '../../index';


.Homepage {
  max-width: 100%;
  min-height: auto;
  background: $accent-three;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 2rem 0 5rem 0;

  @media screen and (min-width: 760px) and (max-width: 1024px) {
    .Responsive {
      padding: 5rem 0 4rem 0;
      display: flex;
      min-height: 30vh;
    }
  }

  .HomepageHeader {
    width: 80%;
    height: auto;
    z-index: 10;
    display: flex;
    flex-direction: column;

    h1 {
      color: $accent-four;
      width: 100%;
      height: auto;
      padding: 3rem 5rem 1rem 8rem;
      font-size: 3rem;
      font-weight: bolder;
    }

    p {
      padding: 0rem 5rem 1rem 8rem;
      max-width: 600px;
      color: $accent-four;
      font-size: .85rem;
      font-weight: 300;
    }
  }

  @media screen and (max-width: 760px) {
    .HomepageHeader {
      width: 100%;
      padding: 1rem 0 1rem 0;

      h1 {
        max-width: 600px;
        padding: 0;
        text-align: center;
        margin: 0 auto;
        font-size: 2.5rem;
      }

      p {
        max-width: 300px;
        text-align: left;
        margin: 0 auto;
        padding: 1rem 0 1rem 0;
      }
    }
  }

  @media screen and (min-width: 760px) and (max-width: 1024px) {
    .HomepageHeader {
      width: 100%;
      padding: 0 0 1rem 0;
      display: flex;
      padding-left: 2rem;

      h1 {
        font-size: 2.5rem;
        max-width: 600px;
        padding: 0;
        text-align: center;
        margin: 0 auto;
      }

      p {
        max-width: 300px;
        text-align: left;
        margin: 0 auto;
        padding: 1rem 0 1rem 0;
      }
    }
  }

  .HomepageCarousel {
    min-width: 400px;

    img {
      width: 60px;
      height: 75px;
    }

    #Width {
      width: 75px;
    }

    h2 {
      padding: 1rem 5rem 1rem 8rem;
      font-size: 2rem;
      font-weight: 700;
      color: $accent-four;
    }

    h3 {
      font-weight: 500;
      color: $accent-four;
      margin-bottom: 1rem;
    }

    h4 {
      max-width: 300px;
      margin: 0 auto;
      font-size: .85rem;
      color: $accent-four;
      font-weight: 300;
    }

    p {
      text-align: left;
    }
  }

  @media screen and (max-width: 760px) {
    .HomepageCarousel {
      display: flex;
      flex-direction: column;
      align-items: center;
      min-width: 100%;
      padding-bottom: 1rem;

      h2 {
        padding: 0;
        text-align: center;
        max-width: 400px;
        margin: 0 auto;
      }

      h4 {
        min-width: 300px;
      }
    }
  }

  @media screen and (min-width: 760px) and (max-width: 1024px) {
    .HomepageCarousel {
      min-width: 370px;
      padding: 0;
      margin: 0 auto;

      .carousel {
        max-width: 100%;
        height: 200px;
      }

      h2 {
        padding: 0;
        text-align: center;
        padding: 0;
        }
      }
    }

  .HomepageMain {
    min-width: 800px;
    height: 600px;
    position: absolute;
    right: 0;
    z-index: 20;
    top: 5px;
  }

  @media screen and (max-width: 760px) {
    .HomepageMain {
      z-index: 0;
      min-width: 100vw;
      background: $secondary-color;
      height: auto;
      position: relative;
      top: 0;
      border-bottom-left-radius: 200px;
      border-bottom-right-radius: 200px;


      #Laptop {
        position: relative;
        width: 15rem;
        height: 15rem;
        top: 45px;
        left: 66px;
        z-index: 10;
      }

      #Tree {
        width: 13rem;
        height: 13rem;
        position: absolute;
        right: 5px;
        bottom: 0;
      }

      #Cherry {
        position: absolute;
        width: 30px;
        height: 30px;
        top: 20px;
        right: 100px;
      }

      #Strawberry {
        position: absolute;
        width: 30px;
        height: 30px;
        top: 70px;
        right: 35px;
      }

      #Peach {
        position: absolute;
        width: 30px;
        height: 30px;
        top: 55px;
        right: 135px;
      }

      #Bananas {
        width: 30px;
        height: 30px;
        position: absolute;
        right: 80px;
        top: 50px;
        transform: rotate(-40deg);
      }

       #Tree, #Cherry, #Strawberry, #Peach, #Bananas, #Border, #Jigglypuff {
        display: none;
    }
  }
}

  @media screen and (min-width: 760px) and (max-width: 1024px) {
    .HomepageMain {
      min-width: 100%;
      background: $secondary-color;
      max-height: 400px;
      position: relative;
      top: 0;
      padding: 1rem 0 4rem 0;
      border-bottom-left-radius: 300px;
      border-bottom-right-radius: 300px;

      #Laptop {
        width: 25rem;
        height: 25rem;
        position: absolute;
        top: 85px;
        left: 180px;
      }

      #Tree {
        width: 22rem;
        height: 22rem;
        position: absolute;
        top: 15px;
        right: 10px;
      }

      #Cherry {
        width: 4rem;
        height: 4rem;
        position: absolute;
        top: 45px;
        right: 165px;
      }

      #Strawberry {
        width: 4rem;
        height: 4rem;
        position: absolute;
        top: 125px;
        right: 55px;
      }

      #Peach {
        width: 4rem;
        height: 4rem;
        position: absolute;
        top: 100px;
        right: 220px;
      }

      #Bananas {
        width: 4rem;
        height: 4rem;
        position: absolute;
        top: 95px;
        right: 130px;
        transform: rotate(-60deg);
      }

       #Jigglypuff, #Border {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 760px) {
  .Homepage {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (min-width: 760px) and (max-width: 1024px) {
  .Homepage {
    padding: 0 0 1rem 0;
  }
}


// DO NOT TOUCH
// --------------------------------------
#Laptop {
  width: 500px;
  height: 500px;
  position: absolute;
  right: 300px;
  bottom: -65px;
  z-index: 10;
}

#Tree {
  width: 600px;
  height: 600px;
  position: absolute;
  right: 0;
  bottom: 0;
}

#Bananas {
  width: 100px;
  height: 100px;
  position: absolute;
  right: 300px;
  top: 60px;
  transform: rotate(-40deg);
}

#Strawberry {
  width: 60px;
  height: 60px;
  position: absolute;
  right: 102px;
  top: 200px;
}

#Jigglypuff {
  width: 90px;
  height: 100px;
  position: absolute;
  bottom: 75px;
  right: 180px;
  z-index: -1;
  transform: rotate(30deg);
  animation-name: slide;
  animation-duration: 4s;
}

#Cherry {
  width: 70px;
  height: 70px;
  position: absolute;
  right: 210px;
  top: 125px;
}

#Peach {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 155px;
  right: 390px;
  transform: rotate(-20deg);
}

#Border {
  min-width: 95%;
  position: absolute;
  height: 30px;
  background: $secondary-color;
  border-radius: 20px;
  bottom: 0;
}

.carousel {
  max-width: 60%;
  height: 200px;
}

.CarouselHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel-indicators li {
  background: $accent-one;
  border-radius: 50px;
  width: 20px;
  height: 1px;
}

@keyframes slide {
  0% {
    transform: translateX(-200px);
  }

  100% {
    transform: translateX(0px);
  }
}
