@import '../../index';


.Homepage {
  max-width: 70rem;
  min-height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem 0 5rem 0;
  margin: 0 auto;

  .ResponsiveTree {
    display: none;
  }

  @media screen and (min-width: 760px) and (max-width: 1024px) {

    .ResponsiveTree {
      display: inline-block;
      min-width: 100%;
      min-height: 40vh;
      position: relative;

      #MaxWidth {
        width: 40rem;
        height: 26rem;
        margin: 0 auto;
        position: relative;


        #Tree {
          width: 25rem;
          height: 25rem;
          position: absolute;
          left: 0;
          bottom: 0;
        }

        #Laptop {
          width: 21rem;
          height: 21rem;
          right: 50px;
          z-index: 1;
        }

        #Cherry {
          position: absolute;
          width: 4rem;
          height: 4rem;
          top: 100px;
          right: 370px;
        }

        #Strawberry {
          position: absolute;
          width: 4rem;
          height: 4rem;
          top: 140px;
          right: 295px;
        }

        #Peach {
          position: absolute;
          width: 4rem;
          height: 4rem;
          top: 110px;
          right: 485px;
        }

        #Bananas {
          width: 4rem;
          height: 4rem;
          position: absolute;
          right: 435px;
          top: 50px;
          transform: rotate(-40deg);
        }

        #Apple {
          width: 4rem;
          height: 4rem;
          position: absolute;
          right: 470px;
          top: 210px;
          transform: rotate(-20deg);
        }
      }
    }

    .Responsive {
      width: 100vw;
      min-height: 30vh;
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding-top: 3rem;

    }
  }


  .HomepageHeader {
    max-width: 30rem;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
    padding: 4rem 2rem 1rem 2rem;
    margin: 0 auto;

    h1 {
      color: $accent-four;
      width: 100%;
      height: auto;
      font-size: 3rem;
      font-weight: bolder;
      padding-bottom: 1rem;
    }

    p {
      color: $accent-four;
      font-size: .85rem;
      font-weight: 300;
    }
  }

  @media screen and (max-width: 760px) {
    .HomepageHeader {
      width: 100%;
      padding: 1rem 0 1rem 0;

      h1 {
        max-width: 600px;
        padding: 0;
        text-align: center;
        margin: 0 auto;
        font-size: 2.5rem;
      }

      p {
        max-width: 300px;
        text-align: left;
        margin: 0 auto;
        padding: 1rem 0 1rem 0;
      }
    }
  }

  @media screen and (min-width: 760px) and (max-width: 1024px) {
    .HomepageHeader {
      width: 100%;
      padding: 0 0 1rem 0;

      h1 {
        font-size: 2.5rem;
        text-align: center;
        padding-bottom: 0;
      }

      p {
        max-width: 300px;
        text-align: left;
        margin: 0 auto;
        padding: 1rem 0 1rem 0;
      }
    }
  }

  .HomepageCarousel {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: 60px;
      height: 75px;
    }

    #Width {
      width: 75px;
    }

    h2 {
      font-size: 2rem;
      font-weight: 700;
      color: $accent-four;
      margin: .5rem 0;
    }

    h3 {
      font-weight: 600;
      color: $accent-four;
      margin: .5rem 0;
    }

    h4 {
      max-width: 300px;
      margin: 0 auto;
      font-size: .85rem;
      color: $accent-four;
      font-weight: 300;
    }

    p {
      text-align: left;
    }
  }

  @media screen and (max-width: 760px) {
    .HomepageCarousel {
      display: flex;
      flex-direction: column;
      align-items: center;
      min-width: 100%;
      padding-bottom: 1rem;

      h2 {
        padding: 0;
        text-align: center;
        max-width: 450px;
        margin: 0 auto;
      }

      h3 {
        max-width: 100%;
        font-size: .95rem;
      }

      h4 {
        min-width: 100%;
      }
    }
  }

  @media screen and (min-width: 760px) and (max-width: 1024px) {
    .HomepageCarousel {
      padding: 0;

      .carousel {
        max-width: 100%;
        height: 200px;
      }

      h2 {
        padding: 0;
        text-align: center;
        padding: 0;
        }
      }
    }

  .HomepageMain {
    max-width: 35rem;
    height: 600px;
    position: relative;

  }

  @media screen and (max-width: 760px) {
    .HomepageMain {
      display: none;
  }
}

  @media screen and (min-width: 760px) and (max-width: 1024px) {
    .HomepageMain {
      display: none;
    }
  }
}

@media screen and (max-width: 760px) {
  .Homepage {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (min-width: 760px) and (max-width: 1024px) {
  .Homepage {
    padding: 0 0 1rem 0;
    display: inline-block;
  }
}


// DO NOT TOUCH
// --------------------------------------
#Laptop {
  width: 300px;
  height: 300px;
  position: absolute;
  right: 260px;
  bottom: -45px;
  z-index: 2;
}

#Tree {
  width: 600px;
  height: 600px;
  position: absolute;
  right: 0;
  bottom: 0;
}

#Bananas {
  width: 100px;
  height: 100px;
  position: absolute;
  right: 300px;
  top: 60px;
  transform: rotate(-40deg);
}

#Strawberry {
  width: 60px;
  height: 60px;
  position: absolute;
  right: 102px;
  top: 200px;
}

#Cherry {
  width: 70px;
  height: 70px;
  position: absolute;
  right: 210px;
  top: 125px;
}

#Peach {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 155px;
  right: 390px;
  transform: rotate(-20deg);
}

#Apple {
  width: 60px;
  height: 60px;
  position: absolute;
  right: 370px;
  top: 300px;
  transform: rotate(-20deg);
}

#Border {
  min-width: 90%;
  position: absolute;
  height: 30px;
  background: $secondary-color;
  border-radius: 20px;
  bottom: 0;
}

.carousel {
  max-width: 60%;
  height: 200px;
}

.CarouselHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel-indicators li {
  background: $accent-one;
  border-radius: 50px;
  width: 20px;
  height: 1px;
}

@keyframes slide {
  0% {
    transform: translateX(-200px);
  }

  100% {
    transform: translateX(0px);
  }
}
