@import '../../index';

.DailyMeal {
  width: 100%;
  background: $accent-three;
  height: auto;

  .DailyMealHeader {
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    height: 40vh;
    color: white;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    border-bottom-left-radius: 500px;

    h1 {
      text-transform: uppercase;
      font-weight: 600;
      font-size: 3rem;
      color: white;
    }

    h2 {
      font-size: 1.25rem;
      font-weight: 600;
      color: white;
    }
  }

  @media screen and (max-width: 1024px)  {
    .DailyMealHeader {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        height: 27vh;
        justify-content: flex-end;
    }
  }

    .DailyMealSecondary {
      max-width: 70%;
      margin: 0 auto;
      height: 100%;

    .DailyMealMain {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-row-gap: .5rem;
      grid-column-gap: .5rem;
      padding: 3rem 0;

      .DailyMealSearch {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        position: relative;
        height: 50px;

        #Magnifier {
          width: 20px;
          height: 20px;
          top: 15px;
          left: 35px;
          position: absolute;
        }

        input {
          width: 90%;
          border-radius: 20px;
          border: none;
          padding: 1rem 2rem 1rem 3rem;
          font-weight: 300;
          background: none;
        }
      }

      .DailyMealSubheader {
        height: 50px;
        color: $secondary-color;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        text-align: center;
        margin-bottom: 1.5rem;

        h1, h2 {
          font-size: 1.15rem;
        }

        span {
          font-size: 1.5rem;
          font-weight: 600;
        }

      }

      .DailyMealResults {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: .5rem;
        max-height: 350px;
        overflow-y: scroll;

        h3 {
          font-size: .95rem;
          font-weight: 500;
          margin-bottom: 1rem;
        }

        .SearchResult {
          display: flex;
          justify-content: space-between;
          min-height: 100px;
          width: 22rem;
          background: white;
          margin-bottom: 1rem;
          padding: 1rem;
          font-size: .85rem;
          box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.12), 0px 4px 5px 0px rgba(0, 0, 0, 0.12), 0px 1px 10px 0px rgba(0, 0, 0, 0.2);
          border-radius: 5px;
          transition: .5s;

          .SearchDetails {

            h1 {
              font-weight: bolder;
            }
            button {
              margin-top: 1rem;
            }
          }

          img {
            width: 30px;
            height: 30px;
  
          }

          &:hover {
            transform: translateY(-5px);
          }
        }
      }

      .DailyMealSelected {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        max-height: 350px;
        overflow-y: scroll;
        background: #fff;
        box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.12), 0px 4px 5px 0px rgba(0, 0, 0, 0.12), 0px 1px 10px 0px rgba(0, 0, 0, 0.2);
        border-radius: 5px;

        .SelectedFood {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          padding: 2rem;
          font-size: .85rem;
          position: relative;

          h1 {
            font-weight: bolder;
            font-size: 1.10rem;
            margin-left: 1.5rem;
            max-width: 300px;
            text-align: center;
          }

          h2 {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 70px;
            height: 70px;
            font-size: 1.75rem;
            position: absolute;
            left: 0;
            bottom: 10px;
            font-weight: 600;
            background: $accent-one;
            color: white;
            border-radius: 50%;
          }

          h3 {
            margin-left: 1.5rem;
          }

          img {
            height: 25px;
            height: 25px;
            position: absolute;
            right: 0;
            bottom: 10px;
            cursor: pointer;
            top: 50%;
            transform: translateY(-50%);
          }
        }

        @media screen and (max-width: 1024px) {
          .SelectedFood {
            h1 {
              max-width: 170px;
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 760px) {
    .DailyMealSecondary {
      min-width: 100%;
      .DailyMealMain {
        display: flex;
        flex-direction: column;

        .DailyMealSearch {
          width: 100%;

          input {
            max-width: 400px;
            padding-left: 3rem;
          }

          #Magnifier {
            width: 20px;
            height: 20px;
            top: 15px;
            left: 20px;
            position: absolute;
          }
        }

        .DailyMealSubheader {
          display: none;
        }

        .DailyMealResults {
          .SearchResult {
            max-width: 90%;
            margin: .25rem auto;
          }
        }
      }
    }
  }

  @media screen and (min-width: 760px) and (max-width: 1024px) {
    .DailyMealSecondary {
      min-width: 90%;
      .DailyMealMain {

        .DailyMealSearch {
          min-width: 100%;
        }

        .DailyMealResults {
          min-height: 60vh;
        }
      }
    }
  }
}
