@import '../../index';

.DailyMeal {
  width: 100%;
  background: $accent-three;
  height: 80vh;

    .DailyMealSecondary {
      max-width: 70%;
      margin: 0 auto;
      height: auto;
      height: 100%;

    .DailyMealHeader {
      background: $accent-one;
      color: white;
      padding: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;


      h1 {
        text-transform: uppercase;
        font-weight: 300;
        font-size: 3rem;
      }
    }

    .DailyMealMain {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-row-gap: .5rem;
      grid-column-gap: .5rem;
      padding: 1rem;

      .DailyMealSearch {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        position: relative;
        height: 50px;

        #Magnifier {
          width: 30px;
          height: 30px;
          top: 10px;
          left: 35px;
          position: absolute;

        }

        input {
          width: 90%;
          border-radius: 20px;
          border: none;
          height: 40px;
          padding-left: 3rem;
          font-weight: 300;
          box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.12), 0px 4px 5px 0px rgba(0, 0, 0, 0.12), 0px 1px 10px 0px rgba(0, 0, 0, 0.2);
        }
      }

      .DailyMealSubheader {
        height: 50px;
        color: #111;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        font-size: .85rem;
      }

      .DailyMealResults {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: .5rem;
        height: 45vh;
        overflow: scroll;
        border-right: 1px solid $accent-one;

        h3 {
          font-size: .85rem;
          font-weight: bolder;
          margin-bottom: .25rem;
        }

        .SearchResult {
          display: flex;
          justify-content: space-between;
          min-height: 100px;
          width: 20rem;
          background: white;
          margin-bottom: 1rem;
          padding: 1rem;
          font-size: .85rem;
          box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.12), 0px 4px 5px 0px rgba(0, 0, 0, 0.12), 0px 1px 10px 0px rgba(0, 0, 0, 0.2);

          .SearchDetails {

            h1 {
              font-weight: bolder;
            }
            button {
              margin-top: 1rem;
            }
          }

          button {
            height: 30px;
          }
        }
      }

      .DailyMealSelected {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        height: auto;
        overflow: scroll;
        background: $accent-one;

        .SelectedFood {
          display: flex;
          flex-direction: column;
          border-bottom: 1px solid gray;
          padding: .75rem;
          font-size: .85rem;

          button {
            align-self: flex-end;
          }
        }
      }
    }
  }
}
