@import '../../index';

.Header {
  max-width: 100%;
  height: 10vh;
  background: $accent-three;
  padding: 1rem;

  .MobileLinks {
    background: rgba(1, 206, 117, 0.8);
    min-width: 30vw;
    min-height: 100vh;
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    box-shadow: rgba(25, 41, 61, 0.18) 1px 2px 3px 1px;

    span {
      cursor: pointer;
    }

    p {
      margin-bottom: 2rem;
      text-align: center;
    }

    label {
      color: #fff;
      font-weight: 600;
      text-align: left;
    }

    input {
      margin-bottom: 1rem;
      background: none;
      border: none;
      border-bottom: 1px solid #fff;
      padding: .5rem 0;
      color: #fff;
    }

    h2 {
      font-weight: bolder;
      font-family: 'Maqueen Sans';
      font-size: 3em;
      color: #eee;
      text-align: center;
    }

    button {
      color: white;
      background: none;
      border: 2px solid #fff;
      cursor: pointer;
      margin: 0 auto;
      padding: .75rem 3rem;
      margin-top: 1.5rem;
      border-radius: 20px;

    }
  }

  .HeaderSecondary {
    max-width:  85%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    #HeaderLinks {
      width: 50%;
      display: flex;
      align-items: center;

      .HeaderSublinks {
        display: flex;
        min-width: 60%;
        justify-content: space-evenly;
      }

      h1 {
        font-weight: bolder;
        font-family: 'Maqueen Sans';
        font-size: 3.5rem;
        color: $accent-one;
        padding-right: 1rem;
      }

      li {
        list-style: none;
        color: $accent-four;
        cursor: pointer;
        font-weight: 500;
        font-size: .85rem;
      }

      li:hover {
        color: $accent-one;
        font-weight: 500;
        text-decoration: none;
      }

      @media screen and (max-width: 1024px) {
        h1 {
          color: white;
        }
        li {
          color: white;
        }
        li:hover {
          font-weight: bolder;
        }
      }
    }

    @media screen and (max-width: 760px)  {
      button {
        display: none;
      }

      ul {
        display: none;
      }

      li {
        display: none;
      }
    }

    #HeaderLogin {
      min-width: 30%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      span {
        font-size: .85rem;
        color: $accent-four;
        font-weight: 500;
      }

      span:hover {
        color: $accent-one;
        font-weight: 500;
      }

      button {
        border: 2px solid $secondary-color;
        border-radius: 20px;
        color: $secondary-color;
        line-height: 20px;
        padding: .5rem 2rem;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: none;
        font-size: .85rem;
        font-weight: 500;
        cursor: pointer;
        font-family: 'Open Sans', sans-serif;
      }

      button:hover {
        font-weight: 700;
        text-decoration: none;
      }

      #Hamburger {
        width: 40px;
        height: 40px;
      }

      @media screen and (min-width: 767px) {
        #Hamburger {
          display: none;
        }
      }

      @media screen and (max-width: 767px) {
        button {
          display: none;
        }
        span {
          display: none;
        }
      }

      @media screen and (min-width: 767px) and (max-width: 991px) {
        span {
          color: white;
        }
        button {
          border: 2px solid white;
          color: white;
        }
      }
    }

    @media screen and (max-width: 767px) {
      #HeaderLogin {
        justify-content: flex-end;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .Header {
    background: $secondary-color;
  }
}
