@import '../../index';

main {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  position: relative;

  .Calendar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
  }

  .DiaryHealth {
    width: 100%;
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);;
    padding: 1rem;
    height: 420px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 500px;

    .DiaryCalories {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: white;
      border-bottom-left-radius: 100px;

      h1 {
        font-size: 2.5rem;
        font-weight: 300;
      }

      h2 {
        font-weight: 300;
        text-transform: uppercase;
      }
    }
  }

  .DiaryUser {
    width: 65%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    display: grid;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
    margin-top: 1rem;

    .DiaryMealLog {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 1rem;
  }

  .UserInformation {
    display: flex;
    height: 100%;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    border-right: 1px solid $accent-four;
    align-items: center;
    position: relative;

    .EditGoal {
      width: 80%;
      min-height: 25%;
      display: flex;
      position: absolute;
      background: white;
      bottom: 120px;
      box-shadow: 0px 2px 4px -1px rgba(0, 20px, 0, 0.1), 0px 4px 30px 0px rgba(0, 0, 0, 0.1), 0px 1px 20px 0px rgba(0, 0, 0, 0.2);

      button {
        width: 100%;
        background: $accent-one;
        color: white;
        font-weight: bolder;
      }
    }

    #border {
      border-radius: 50%;
      width: 175px;
      height: 175px;
      margin-bottom: .85rem;
    }

    h1 {
      margin-bottom: .75rem;
    }

    h2 {
      margin-bottom: .60rem;
      font-size: .85rem;
      font-weight: bolder;
    }

    .DiaryMacronutrients {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      text-align: center;
      grid-column-gap: 20px;
      margin-bottom: 1rem;

      h4 {
        font-size: .85rem;
      }
    }

    .DiaryCalendar {
      width: 40%;
      height: 40px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      img {
        width: 30px;
        height: 30px;
        }
      }
    }
  }
}

.react-calendar__tile--active {
  background: $secondary-color !important;
  color: white !important;
}

.react-calendar__navigation button {
  text-transform: uppercase;
  font-weight: bolder;
}

.react-calendar button {
  color: black;
  font-size: .9rem;
}

.react-calendar {
  box-shadow: 0px 2px 4px -1px rgba(0, 20px, 0, 0.1), 0px 4px 30px 0px rgba(0, 0, 0, 0.1), 0px 1px 20px 0px rgba(0, 0, 0, 0.2) !important;
}
